@import url(https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300);

:root{
	--accentColor : #457BBF;
	--accentHoverColor : #3F51B5;		
	--whiteColor : #fff;	
	--heading-1 : 32px;
	--heading-2 : 24px;
	--heading-3 : 18px;
	--heading-4 : 16px;
	--heading-5 : 14px;
	--heading-6 : 12px;
	--bodyColor : #4D4D4D;
	--body-text-size : 16px;
	--font-weight-400:400;
	--font-weight-500:500;
	--font-weight-600:600;
}

body{ color: var(--bodyColor); font-size: var(--body-text-size);}
.container{ width: 90% !important;}
.row-new{ display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.align-items-center { -webkit-box-align: center!important; -ms-flex-align: center!important; align-items: center!important;}
.align-self-end {-ms-flex-item-align: end!important; align-self: flex-end!important;}

h1, h2, h3, h4, h5, h6{ font-weight: 600; line-height: normal;}
/* h1{ font-size: var(--heading-1);}
h2{ font-size: var(--heading-2);}
h3{ font-size: var(--heading-3);}
h4{ font-size: var(--heading-4);}
h5{ font-size: var(--heading-5);}
h6{ font-size: var(--heading-6);} */

.gradientBg-3-shades{
	background: rgb(63,81,181);
	background: -moz-linear-gradient(127deg, rgba(63,81,181,1) 0%, rgba(86,141,255,1) 54%, rgba(63,81,181,1) 100%);
	background: -webkit-linear-gradient(127deg, rgba(63,81,181,1) 0%, rgba(86,141,255,1) 54%, rgba(63,81,181,1) 100%);
	background: linear-gradient(127deg, rgba(63,81,181,1) 0%, rgba(86,141,255,1) 54%, rgba(63,81,181,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f51b5",endColorstr="#3f51b5",GradientType=1);
}

.gradientBg-2-shades{
	background: rgb(86,141,255);
	background: -moz-linear-gradient(127deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	background: -webkit-linear-gradient(127deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	background: linear-gradient(127deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#568dff",endColorstr="#3f51b5",GradientType=1);
}


/*[menu start]*/
header nav.nav-box-width{ padding: 0;}
nav.navbar.navbar-default ul.nav>li>a{ margin:0 16px;}
header nav.navbar.white-link .navbar-nav>li, header nav.navbar.white-link .navbar-nav>li>a, nav.navbar.bootsnav.white-link ul.nav>li>a{color:rgba(255,255,255,0.9);}
header nav.navbar.white-link .navbar-nav>li:hover, header nav.navbar.white-link .navbar-nav>li.dropdown.on>a, nav.navbar.bootsnav.white-link ul.nav>li.dropdown.on>a{ color:#fff;}
header nav.navbar.navbar-default ul.nav>li>a.contactBtnNav{ margin-top:12px; min-width: 160px; padding: 12px !important; text-align: center; font-size: 15px;  border:0;  -webkit-border-radius: 45px; -o-border-radius: 45px; border-radius: 45px; border-radius: 45px;  }
header nav.navbar.white-link ul.nav>li>a.contactBtnNav{ color:var(--accentColor) !important; background:var(--whiteColor);}
header nav.navbar.white-link ul.nav>li>a.contactBtnNav:hover{color:var(--whiteColor) !important; background:var(--accentHoverColor);}
header nav.navbar ul.nav>li>a.contactBtnNav:after{ display:none;}
nav.navbar.navbar-default.white-link ul.nav>li>a.contactBtnNav{ margin-top:12px;}

nav.navbar.navbar-default ul.nav>li{ transition:all 0.5s ease 0s;}
nav.navbar.navbar-default ul.nav>li>a{ text-transform:capitalize; position:relative; overflow:hidden}
nav.navbar.navbar-default ul.nav>li>a:after{ content:''; position:absolute; left:-100%; bottom:15px; height:2px; width:100%; background:var(--whiteColor); transition:all 0.5s ease 0s; }
nav.navbar.navbar-default ul.nav>li:hover>a:after { left:0;}
.navbar-nav2>li.dropdown>.fas{ font-size:16px;  }
nav.navbar.bootsnav.white-link ul.nav>li>a:hover, header nav.navbar.white-link .navbar-nav>li>a:hover{ color:#fff;}

.sticky nav.navbar.navbar-default ul.nav>li>a.contactBtnNav{ background: var(--accentColor) !important; color:var(--whiteColor) !important;  margin-top: 7px;}
.sticky nav.navbar.navbar-default ul.nav>li>a.contactBtnNav:hover{color:var(--whiteColor) !important; background:var(--accentHoverColor) !important;}

header nav .navbar-nav2.text-normal>li>a{ font-size: 14px; text-transform: uppercase !important;}

.simple-dropdown.dropdown{ margin: 0 8px 0 0;}

.navbar-nav2>li.dropdown>.fas{ right: 0;}

/*[end start]*/


/*[banner-wrapper start]*/
.banner-wrapper .row{     height: 100%; width:90%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; position:relative; z-index:1; margin:0 auto;}
.banner-wrapper{ height:100vh; width:100%; position:relative;}

.banner-wrapper:after{ content:''; background:url('../images/banner_img_after.png') no-repeat; background-size: cover;
    background-position: right top; position:absolute; right:0; top:0; height:100%; width:100%; z-index:0;}

.banner-wrapper h1, .banner-wrapper h2{ position: relative; font-size:88px; color:#fff; line-height: 88px; font-weight: var(--font-weight-400); padding: 25px 0 0; }
.banner-wrapper h1:before, .banner-wrapper h1:after, .banner-wrapper h2:before, .banner-wrapper h2:after{ content:''; position: absolute; top: 0; left: 0px; width:114px; height: 1px; background: #fff; border-radius: 10px; }

.landingPageBanner:after{ display: none;}
.landingPageBanner  h1:before, .landingPageBanner h1:after{ height: 6px;}
.landingPageBanner h1:after{ left: 120px; width: 10px;}
.landingPageBanner .gradientBtn{ color:var(--whiteColor)}

.banner-wrapper p{ font-size:18px; color:#fff; font-weight:300;     line-height: 28px;}

.banner-wrapper .btn{ border-radius:45px; padding:10px 25px; box-shadow:0 8px 16px rgba(0,0,0,0.2); color:var(--accentColor);  font-size:14px; font-weight:600;}
.banner-wrapper .btn:hover{background:var(--accentColor); color:var(--whiteColor);}

.banner_img,  .landingQuote:after{   -webkit-animation: mover 1s infinite  alternate; animation: mover 1s infinite  alternate;}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/*[banner-wrapper end]*/

/*[pageTitleWrapper start]*/
.pageTitleWrapper{
	background: rgb(204,43,94);
	background: -moz-linear-gradient(126deg, rgba(204,43,94,1) 0%, rgba(117,58,136,1) 100%);
	background: -webkit-linear-gradient(126deg, rgba(204,43,94,1) 0%, rgba(117,58,136,1) 100%);
	background: linear-gradient(126deg, rgba(204,43,94,1) 0%, rgba(117,58,136,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc2b5e",endColorstr="#753a88",GradientType=1);
}

.pageTitle{ color: #fff; font-size: 75px; line-height: normal; position: relative;}
.pageTitle:before{ content: ''; display: block; clear: both; overflow: hidden;  width:140px; height: 1px; background: #fff; margin:0 0 40px; }
.pageTitle + p{ color: rgba(255,255,255,0.75); font-size: var(--heading-3); line-height: 32px; margin: 0 0 35px;}


.cloud-solutions{
	background: rgb(78,62,255);
background: -moz-linear-gradient(112deg, rgba(78,62,255,1) 0%, rgba(164,69,255,1) 100%);
background: -webkit-linear-gradient(112deg, rgba(78,62,255,1) 0%, rgba(164,69,255,1) 100%);
background: linear-gradient(112deg, rgba(78,62,255,1) 0%, rgba(164,69,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4e3eff",endColorstr="#a445ff",GradientType=1);
}

.digital-marketing{
	background: rgb(86,141,255);
	background: -moz-linear-gradient(112deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	background: -webkit-linear-gradient(112deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	background: linear-gradient(112deg, rgba(86,141,255,1) 0%, rgba(63,81,181,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#568dff",endColorstr="#3f51b5",GradientType=1);
}

.product-innovation{
	background: rgb(211,0,141);
background: -moz-linear-gradient(112deg, rgba(211,0,141,1) 0%, rgba(23,61,122,1) 100%);
background: -webkit-linear-gradient(112deg, rgba(211,0,141,1) 0%, rgba(23,61,122,1) 100%);
background: linear-gradient(112deg, rgba(211,0,141,1) 0%, rgba(23,61,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3008d",endColorstr="#173d7a",GradientType=1);
}


/*[pageTitleWrapper end]*/

.titleSectionWrapper{ margin: 0 0 50px; clear: both;  overflow: hidden;}
.titleSection{ position: relative;     color: #000; margin: 0 0 20px; font-size: var(--heading-1);  }
/* .titleSection:before{ content: ''; display: block; clear: both; overflow: hidden;  width:65px; height: 2px; background: var(--accentColor); margin:0 0 25px; } */

/*[industriesWrapper start]*/
.industriesItemTitle{ color: var(--accentColor); font-size: var(--heading-3);  margin:25px 0 15px;}
.industriesItem{margin: 15px 0;}
.industriesItem:nth-child(2n+1){ clear: both; overflow: hidden;}
.industriesWrapper a{color:#6f6f6f;}
/*[industriesWrapper end]*/

/*[featureWrapper start]*/
.featureItem{ margin: 15px 0;}
.featureItem i{ display: inline-block; width: 100px; height: 100px; color: #fff; padding: 25px 15px; text-align: center;
	-moz-border-radius: 90px 110px 140px 110px;
	-webkit-border-radius: 90px 110px 140px 110px;
	-o-border-radius: 90px 110px 140px 110px;
	border-radius: 90px 110px 140px 110px;
}
.featureItemTitle{ color: var(--accentColor); font-size: var(--heading-3);  margin: 20px 0 15px;}
/*[featureWrapper end]*/



/*[landingPage start]*/
.landingPageBanner { height:auto;}
.landingPageBanner:after{ display: none;}
.landingPageBanner h1{ font-size: 50px;  line-height: 65px;}
.landingPageBanner  h1:before, .landingPageBanner h1:after{ height: 6px;}
.landingPageBanner h1:after{ left: 120px; width: 10px;}
.landingPageBanner .gradientBtn{ color:var(--whiteColor); width: 100%; border-radius: 5px; border: 0;}
.gradientBtn:hover{ -moz-box-shadow: 0 0px 16px rgba(0,0,0,0.4); -webkit-box-shadow: 0 0px 16px rgba(0,0,0,0.4);  -o-box-shadow: 0 0px 16px rgba(0,0,0,0.4);     box-shadow: 0 0px 16px rgba(0,0,0,0.4);}

.landingQuote{ background: transparent;  width:372px;     display: inline-block; padding:0; position: relative; margin:15px 0 0 0;}
.landingQuote form{  padding:35px; float:right; text-align: left;  background:#fff; border-radius: 10px; position: relative; z-index: 2; }
.landingQuote form > .clearfix{ margin-left:-15px; margin-right:-15px;}
.landingQuote h2{ color:#212121; font-weight: normal; font-size: 20px; padding: 0; margin: 0 0 20px;}
.landingQuote .border-color-white{ border:0; background: #F2F6F9; height:48px;}

.landingPageBanner:before, .landingQuote:before, .applicationLandingPageBanner:before, .applicationLandingPageBanner .landingQuote:before{ content: ''; position: absolute; top: 0; left: 0; width:100%; height: 100%; background:url('../images/landing-form-before.png') no-repeat; background-position: center right;}
.landingQuote:after{ content: ''; position: absolute; top: 0; left: 0;  z-index:3; background:url('../images/landing-form-after.png') no-repeat; width:218px ; height: 411px; top: 60px;  left: -200px; background-size: cover; background-position: top right;}
.landingQuote:before, .applicationLandingPageBanner .landingQuote:before{ display: none;}

.applicationLandingPageBanner{
	background: rgb(218,68,83);
	background: -moz-linear-gradient(127deg, rgba(218,68,83,1) 0%, rgba(137,33,107,1) 100%);
	background: -webkit-linear-gradient(127deg, rgba(218,68,83,1) 0%, rgba(137,33,107,1) 100%);
	background: linear-gradient(127deg, rgba(218,68,83,1) 0%, rgba(137,33,107,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da4453",endColorstr="#89216b",GradientType=1);

}
 
.applicationLandingPageBanner .landingQuote:after{z-index:1; background:url('../images/landing-form-after-2.png') no-repeat;}
.applicationLandingPageBanner:before, .applicationLandingPageBanner .landingQuote:before{ background:url('../images/application-landing-before.png') no-repeat;     background-position: center right;}
/*[landingPage end]*/


.d-inline-block{ display:block;}
.no-calltoaction-footer + .call-to-action{ display:none;}

.contactForm .border-color-white, #contact .border-color-white { color:#fff;}
#contact, #contact .bg-extra-dark-gray{ background:#292828;}

.panel-heading a .panel-title{ position: relative;}
.panel-heading a .panel-title span{ display:none;}
.panel-heading a .panel-title:after{ content:'+'; position: absolute; top: 0; right:0; font-size: 17px; font-weight:400;}
.panel-heading a[aria-expanded="true"] .panel-title:after{content:'--'; letter-spacing: -1px; right:1px; }


.mobileViewImg{ display: none;}

.contactInfo  p{ font-size: 14px;}

.landingPageBanner .contactForm .border-color-white, .select-style select option{ color:#333;}

.mobileTable .contactInfo .bg-extra-dark-gray i{ color:#fff;}
.btn.btn-rounded.readMore{  padding: 3px 18px; color: #fff; border: 1px solid; margin: 20px 0 0;}
.btn.btn-rounded.readMore:hover, .btn.btn-rounded.readMore:focus{ border-color:#fff; background: #fff;  color: #3a7cbb;}

.more_class{ display:none;}
.storyTitle{ font-size:20px; margin:0 0 15px;}
.storyContent{ font-size:16px; margin: 0 0 35px;}
.more_text_btn, .less_text_btn{ margin-top:-20px;}
.more_text_btn a, .less_text_btn a{ display:inline-block; padding:5px 0; }

/*[responsive start]*/
@media (min-width:1600px){
	.landingQuote{ width: 550px;}
	
}

@media (min-width: 1367px){
    .navbar-nav>li { margin:0 0 0 30px;}
}

@media only screen and (max-width:1366px){
	header nav .navbar-nav2 > li.dropdown > a{ margin-right:20px;}
	.banner-wrapper h1, .banner-wrapper h2 { font-size: 50px; line-height: 55px;}
	.banner-wrapper p{ font-size:16px;     line-height: 24px;}
	.banner-wrapper:after{background-position: 65% top;}


	.pageTitle{ font-size: 55px;}
	.pageTitle + p{ font-size: 16px; line-height: 24px;}

	.landingPageBanner h1{font-size: 40px; line-height: 45px}
	.landingQuote .border-color-white{ height: 40px;}
	
	.landingQuote h2 { font-size: 18px;}

	header nav.navbar.navbar-default ul.nav>li>a.contactBtnNav, .sticky nav.navbar.navbar-default ul.nav>li>a.contactBtnNav{     min-width: 140px;}
}


@media (max-width: 1199px){
	.container {width: 100% !important;	}
	.landingQuote:after{ display: none;}
	.landingQuote{ width:90%; }
	.landingQuote form{ padding: 25px;}
}

@media only screen and (max-width:991px){
	.text-sm-center{ text-align: center;}
	nav.navbar.bootsnav .navbar-toggle{ background:var(--accentColor);}	

	.banner-wrapper h1, .banner-wrapper h2 { font-size: 40px; line-height: normal;}
	.banner-wrapper p{ font-size:14px; }
	.banner-wrapper .btn{ padding:7px 25px; font-size:12px;}

	
	.pageTitle{ font-size: 30px;}
	.pageTitle:before{ width: 80px; margin:0 0 20px;}
	.pageTitle + p{ font-size: 14px; line-height: 20px;}


	.industriesItem img{ padding:0 35px;}
	.titleSection{ font-size: var(--heading-2);}
		
	.landingPageBanner h1{ font-size: 30px;}

	header nav.navbar.white-link ul.nav>li>a.contactBtnNav, nav.navbar.navbar-default.white-link ul.nav>li>a.contactBtnNav, nav.navbar.navbar-default ul.nav>li>a.contactBtnNav,
	header nav.navbar.navbar-default ul.nav>li>a.contactBtnNav
	{ color: #fff !important; text-align:left; background:transparent !important; margin-top: 0; font-size: 15px; }
	
	nav.navbar.navbar-default ul.nav>li>a:after{ bottom:0; height:1px; background:#939393;}
}

@media only screen and (max-width:767px){
	.text-xs-center{ text-align: center;}

	.banner-wrapper{ height: auto; }
	.banner-wrapper h1 br, .banner-wrapper h2 br{ display:none;}
	.banner-wrapper h1, .banner-wrapper h2 { font-size:26px;}
	.banner-wrapper:after{     background-position: 80% top;}
	.mobileViewImg{ display: block;     margin: 40px 0 0;}
	.desktopViewImg{ display: none;}

	.home-banner { text-align: center;}	
	.home-banner h1, .home-banner h2, .home-banner p{ text-align: left !important; color:#fff !important;}
	
	.pageTitle{ text-align: center;}
	.pageTitle:before{ margin: 0 auto 20px;}

	.banner-wrapper h1:before, .banner-wrapper h1:after, .banner-wrapper h2:before, .banner-wrapper h2:after{ display:none;}

	.landingPageBanner .row{ display: table;}
	.landingPageBanner .row > div{ display:table-footer-group; float: none;}
	
	.landingPageBanner:before, .applicationLandingPageBanner:before{ display:none;}
	.landingQuote:before, .applicationLandingPageBanner .landingQuote:before{ display: block;}

	.landingPageBanner h1{ font-size: 25px;}
	.landingQuote {width: 100%;     padding: 55px 0;	}

	.landingPageBanner { text-align: left; }

	
}

/*[responsive end]*/